.botao{
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    padding: 32px;
    color: #FFF;
    border: none;
    margin-top: 32px;
}

.botao:hover{
    color: #95ffd4;
}